*,
*::after,
*::before{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html{
   scroll-behavior: smooth;
}

body{
   margin: 0 auto; 
   font-family: 'Rubik', sans-serif;
   font-size: 16px;
   width: 100%;
   max-width: 1200px;
}
.no-scroll{
   overflow: hidden;
}

.txt {
   margin: 0;
   padding: 0;
   font-size: .8125rem;
   font-weight: 400;
   color: var(--grayish-blue);

   @include table {
      font-size: 1.125rem;
   }
}

.title{
   margin: 0;
   padding: 0;
   text-align: center;
   font-size: 2rem;
   font-weight: 500;
   color: var(--black-clr);
}

img{
   width: 100%;
   height: auto;
   display: block;
}

ul{
   padding: 0;
   margin: 0;
}

li{
   list-style: none;
}

a{
   text-decoration: none;
}

/*
   Common styles for different components
*/

// Button 

.btn {
   display: inline-block;
   margin:0 0.3rem 0.3rem 0; 
   padding: 0.8rem .8125rem;
   background-color: var(--soft-blue);
   border: 1px solid var(--soft-blue);
   border-radius:5%;
   color: var(--white-clr);
   font-size: .8125rem;
   cursor: pointer;
   text-decoration:none;
   text-align:center;
   transition: all 0.2s;

   @include table {
      padding: 0.8rem 1.15rem;
   }

   &:hover{
      color: var(--soft-blue);
      background-color:transparent;
   }

   &:active{
      transform: scale(.95);
      color: var(--soft-blue);
      background-color:transparent;
   }

   &:focus{
      outline: none;
   }
}

.btn--red{
   margin:0 0 0 0; 
   background-color: var(--soft-red);
   border: 1px solid var(--soft-red);
   &:hover{
      color: var(--soft-red);
   }
}

.btn--gray{
   background-color: var(--grayish-blue);
   border: 1px solid var(--grayish-blue);
}