.features{
   width: 100%;
   position: relative;
   margin-top: 8.125rem;

   &__title{
      color: var(--black-clr);
      text-align: center;
      font-size: 1.25rem;
      font-weight: var(--fw-bold);
      margin-bottom: 1.125rem;

      @include table {
         font-size: 2rem;
         margin-bottom: 1rem;
         margin-bottom: 2.25rem;
      }
   }
   
   &__txt{
      color: var(--grayish-blue);
      text-align: center;
      padding: 0 2rem;
      font-size: .8125rem;
      line-height: 1.5;

      @include table {
         font-size: 1.125rem;
         padding: 0 20vw;
      }
   }

   &__nav{
      margin: 2.25rem 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      color: var(--grayish-blue);
      font-size: .9375rem;
      font-weight: var(--fw-bold);
      line-height: 3;
      cursor: pointer;
      transition: all .5s ease-in;

      @include table {
         flex-direction: row;
         padding: 0 5vw;
         justify-content: space-around;
         font-size: 1.125rem;
      }
   }

   &__link{
      position: relative;
      width: 80%;
      border-bottom: 1px solid var(--grayish-blue);
      text-align: center;
      padding: .25rem 1rem;
      &:first-child{
         border-top: 1px solid var(--grayish-blue);
      }
      @include table {
         padding: 0 .2rem;
         border-bottom: 1px solid transparent;
          &:first-child{
            border-top: 1px solid transparent;
         }

      }

      &--active::after {
         content: '';
         position: absolute;
         transform: translateX(-50%);
         bottom: 0;
         left: 50%;
         width: 50%;
         height: 4px;
         border-radius: 10px;
         background: var(--soft-red);
      }

      &:hover {
         color: var(--soft-red);
      }
   }
}