.main{
   width: 100%;
   position: relative;
   // margin-top: 3.75rem;
   padding-top: 3.75rem;
   // padding: 3em 0;
   display: grid;
   grid-template-columns: repeat(1,1fr);

      @include table {
         grid-template-columns: repeat(2,1fr);
   }

   &__img{
      position: relative;
      width: 100%;
      justify-content: center;

      @include table {
         order: 1;
      }

   }
   
   .img-bg {
      position: absolute;
      background:var(--soft-blue);
      border-radius: 0% 0% 0% 35% / 0% 0% 0% 50%;
      width: 85%;
      height:75%;
      right:0;
      bottom:0;
      z-index: -1;
   }
   
   &__body{
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include table {
         padding-left: 2rem;
         align-items: flex-start;
         text-align: left;
      }
   }
   
   &__title{
      text-align: center;
      line-height: 1.5;
      font-size: 1.625rem;

      @include table {
         font-size: 2rem;
         line-height: 1;
         padding-left: 0;
         text-align: left;
      }

      @include laptop {
         font-size: 3rem;
      }
   }
   
   &__text{
      text-align: center;
      font-size: .8125rem;
      padding: 1.5rem 2rem;
      
      @include table {
         font-size: 1.125rem;
         padding: 2rem 4rem 2rem 0;
         text-align: left;
      }

      @include laptop {
         font-size: 1rem;
      }

   }
}